* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

#form__container {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  background-color: #f9cdad;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lobby__form {
  padding: 2em;
}

#form__container__header {
  border-radius: 10px 10px 0 0;
  padding: 10px;
  text-align: center;
  background-color: #f9cdad;
  margin: 22px 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 0;
}

.form__field__wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form__field__wrapper label {
  font-size: 14px;
  line-height: 1.7em;
  margin-bottom: 10px;
  display: block;
}

.form__field__wrapper input {
  box-sizing: border-box;
  color: #3f434a;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 16px 20px;
  font-size: 15px;
  background-color: #fff;
}

.form__field__wrapper button[type="submit"] {
  margin-top: 32px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 5px;
  gap: 10px;
}

.form__field__wrapper button[type="submit"] svg {
  fill: #ede0e0;
  width: 20px;
}

#avatar__selection {
  margin-right: 10px;
  display: flex;
  gap: 1em;
}

.avatar__option {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #797a79;
}

.avatar__option__selected {
  border: 3px solid #007bff;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #797a79;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
a {
  font-weight: 300;
}

.avatar__md {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar__sm {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000000;
  background-color: #1a1a1a;
  text-decoration: none;
  padding: 16px 5%;
  z-index: 999;
}

#logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 22px;
  font-weight: 700;
  line-height: 0;
  margin: 0;
  color: #ebe0e0;
}

@media (max-width: 640px) {
  #logo span {
    display: none;
  }
}

#logo img {
  height: 42px;
}

#nav a {
  text-decoration: none;
}

#nav__links {
  display: flex;
  align-items: center;
  column-gap: 2em;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  transition: 1s;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  padding-bottom: 1px;
}

@media (max-width: 520px) {
  #nav__links {
    column-gap: 3em;
  }
}

.nav__link:hover {
  color: rgb(230, 228, 228);
  text-decoration: none;
  border-color: #007bff;
}

#create__room__btn {
  display: block;
  background-color: #007bff;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
}

#create__room__btn:hover {
  background-color: #007bff;
}

.nav--list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#members__button,
#chat__button {
  display: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

#members__button:hover svg > path,
#chat__button:hover svg,
.nav__link:hover svg {
  fill: #007bff;
}

.nav__link svg {
  width: 0;
  height: 0;
}

@media (max-width: 640px) {
  #members__button {
    display: block;
  }

  .nav__link svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .nav__link,
  #create__room__btn {
    font-size: 0;
    border: none;
  }

  #create__room__btn {
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
  }

  #create__room__btn:hover {
    background-color: transparent;
  }
}

.container {
  margin-top: 74px;
  height: clac(100vh - 74px);
  width: 100%;
  position: relative;
}

#room__container {
  position: relative;
  display: flex;
  gap: 3rem;
}

#members__container {
  background-color: #262625;
  border-right: 1px solid #797a79;
  overflow-y: auto;
  width: 90%;
  max-width: 250px;
  position: fixed;
  height: 100%;
  z-index: 999;
}

#members__count {
  background-color: #1d1d1c;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
}

#members__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  font-size: 18px;
  background-color: #323143;
  width: 218px;
}

#member__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5rem;
  padding-bottom: 6.5rem;
}

.members__list::-webkit-scrollbar {
  height: 14px;
}

.member__wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-left: 1em;
}

.green__icon {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #2aca3e;
}

.member_name {
  font-size: 14px;
  line-height: 0;
}

#messages__container {
  height: calc(100vh - 85px);
  background-color: #262625;
  right: 0;
  position: absolute;
  width: 100%;
  max-width: 25rem;
  overflow-y: auto;
  border-left: 1px solid #111;
}

#messages {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.messages {
  /* min-height: 216px; */
  height: 131px;
  overflow-y: auto;
}

.message__wrapper:last-child {
  margin-bottom: 6.5rem;
}

.message__wrapper {
  display: flex;
  gap: 10px;
  margin: 1em;
}

.message__body {
  background-color: #363739;
  border: 10px;
  padding: 10px 15px;
  width: fit-content;
  max-width: 900px;
}

.message__body strong {
  font-weight: 600;
  color: #ede0e0;
}

.message__body__bot {
  padding: 0 20px;
  max-width: 900px;
  color: #bdbdbd;
}

.message__author {
  margin-right: 10px;
  color: #2aca3e !important;
}

.message__author__bot {
  margin-right: 10px;
  color: #007bff !important;
}

.message__text {
  margin: 0;
}

#message__form {
  width: 23.2rem;
  position: fixed;
  bottom: 0;
  display: block;
  background-color: #1a1a1a;
  padding: 1em;
}

#message__form input {
  color: #fff;
  width: 100%;
  border: none;
  border: 5px;
  padding: 18px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #3f434a;
}

#message__form input:focus {
  outline: none;
}

#message__form input::placeholder {
  color: #707575;
}

#stream__container {
  justify-self: center;
  width: calc(100% - 40.7rem);
  position: fixed;
  left: 15.7rem;
  top: clac(100vh - 72px);
  overflow-y: auto;
  height: 100%;
}

#stream__box {
  background-color: #3f434a;
  height: 60vh;
  display: none;
}

#stream__box .video__container {
  border: 2px solid #000;
  border: 0;
  height: 100% !important;
  width: 100% !important;

  background-size: 300px;
}

#stream__box video {
  border: 0;
}

#streams__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 225px;
}

.video__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #707575;
  border: 50%;
  cursor: pointer;
  overflow: hidden;
  height: 300px;
  width: 300px;

  background-image: url(./images/logo.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
}

.video-player {
  height: 100%;
  width: 100%;
}

.video-player video {
  border: 50%;
}

@media (max-width: 1400px) {
  .video__container {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 1200px) {
  #members__container {
    display: none;
  }

  #members__button {
    display: block;
  }

  #stream__container {
    width: calc(100% - 25rem);
    left: 0;
  }
}

@media (max-width: 980px) {
  #stream__container {
    width: calc(100% - 20rem);
    left: 0;
  }
  #messages__container {
    max-width: 20rem;
  }

  #message__form {
    width: 18.2rem;
  }
}

@media (max-width: 768px) {
  #stream__container {
    width: 100%;
  }

  .video__container {
    height: 100px;
    width: 100px;
  }

  #messages__container {
    display: none;
  }

  #chat__button {
    display: block;
  }
}

#stream__box {
  position: relative;
}

.stream__focus {
  width: 100%;
  height: 100%;
}

.stream__focus iframe {
  width: 100%;
  height: 100%;
}

.stream__actions {
  position: fixed;
  bottom: 1rem;
  border-radius: 8px;
  background-color: #1a1a1a60;
  padding: 1rem;
  left: 50%;
  display: none;
  gap: 1rem;
  transform: translateX(-50%);
}

.stream__actions a,
.stream__actions button {
  cursor: pointer;
  background-color: #262625;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.stream__actions a svg,
.stream__actions button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #ede0e0;
}

.stream__actions a.active,
.stream__actions button.active,
.stream__actions a:hover,
.stream__actions button:hover {
  background-color: #dc143c;
}

#join-btn {
  background-color: #007bff;
  font-size: 18px;
  padding: 25px 50px;
  border: none;
  color: #fff;

  position: fixed;
  bottom: 1rem;
  border-radius: 8px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}

/* design of class */

.whiteboard__top {
  padding-left: 38px;
  padding-top: 32px;
  padding-bottom: 15px;
}

.whiteboard__screen {
  display: flex;
  /* margin-left: 30px;
  margin-right: 30px; */
  margin-bottom: 76px;
  height: 100vh;
  background: #fdfcff;
  box-shadow: 0px 29px 60px rgba(26, 50, 99, 0.24);
  /* border-radius: 20px; */
}

.whiteboard__screen__top {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaeaea;
}

.backIcon__logo {
  margin-left: 26px;
  display: flex;
  align-items: center;
}

.whiteboard__logo {
  margin-left: 16px;
}

.upload__message img {
  margin-right: 5px;
}

.screen__chat {
  display: flex;
  /* height: 954px; */
  position: relative;
  padding-bottom: 25px;
  width: 100%;
}

.screen {
  width: 75%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.005);
}

.screen span {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
}

.screen span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 50, 99, 0.24);
  transform: scale(0.1);
  border-radius: 50%;
}

.toolbar1 {
  width: 216px;
  height: 54px;

  background: #27292c;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  position: absolute;
  top: 36px;
  left: 25px;
}

.toolbar1__subDiv1 {
  display: flex;
  align-items: center;
}

.toolbar1__subDiv2 {
  display: flex;
  align-items: center;
  padding-left: 24px;
  border-left: 1px solid #6c6c6c;
}

.toolbar2 {
  width: 68px;
  background: #27292c;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 118px;
  left: 25px;
  padding: 30px 0;
}

.toolbar2__subDiv1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 324px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 30px;
}

.toolbar2__subDiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 228px;
  justify-content: space-between;
  padding-top: 30px;
}

.chat {
  width: 100%;
  position: relative;
}

.chat_content {
  border-left: 1px solid #eaeaea;
  /* height: calc(100% - 101px); */
  padding-top: 14px;
}

.sentImages {
  width: 270px;
  /* height: 272px; */
  margin: 0 auto;
  margin-bottom: 14px;
  /* padding: 0 70px; */
}

/* .sentImages img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
} */

.saveAttachImageEnd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 250px;
  padding: 0 5%;
}

.saveMainDiv,
.attachMainDiv,
.imageMainDiv,
.endMainDiv {
  height: 59px;
  width: 40px;
}

.saveInnerDiv,
.attachInnerDiv,
.imageInnerDiv,
.endInnerDiv {
  width: 40px;
  height: 40px;
  background: #6a0dad;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveText,
.attachText,
.imageText,
.endText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveText p,
.attachText p,
.imageText p,
.endText p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #808191;
  margin-block-start: unset;
  margin-block-end: unset;
}

.type_message {
  position: fixed;
  bottom: 0;
  width: 26vw;
  height: 76px;
  background: #f4f4f4;
  border-radius: 0px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type_message .chat-input-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
  padding-left: 32px;
}

.type_message form {
  display: flex;
  gap: 8px;
  width: 100%;
}
.type_message .panel {
  padding: 0;
}

.panel {
  border-top: 1px solid #d7c9c9;
  margin-top: 8px;
}

.type_message button {
  width: 67px;
  height: 38px;
  background: #6a0dad;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  border: none;
}

.type_message input {
  border: none;
  background: none;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: 72%;
  /* color: #d5d5d5; */
}

.pagination {
  position: absolute;
  bottom: 44px;
  right: 30px;
  display: flex;
  gap: 4px;
}

.pagination div {
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.zoom {
  position: absolute;
  bottom: 109px;
  right: 30px;
  display: flex;
  background: #ffffff;
  align-items: center;
  width: 158px;
  height: 49px;
  justify-content: space-evenly;
  border: 1px solid #eaeaea;
  box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.zoom img {
  height: 24px;
  width: 24px;
}

.message {
  color: #000;
  width: fit-content;
  background: rgb(167, 218, 201);
  padding: 6px 14px;
  border-radius: 8px;
  margin: 8px;
  margin-left: auto;
  margin-right: 20px;
}
.user-self {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 8px;
}

.video-block {
  position: relative;
}

.vid,
.vid div {
  width: 270px;
  height: 177px;
  border-radius: 24px;
  transform: scale(0.8);
}

.video-mute-btn-first {
  right: 85px !important;
  border-radius: 0 !important;
}

.video-mute-btn {
  position: absolute;
  z-index: 1;
  width: 28px;
  height: 28px;
  background: #c4c4c4;
  border-radius: 0px 20px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 52px;
  top: 35px;
  cursor: pointer;
}

.video-mute-btn-2 {
  bottom: 0 !important;
  right: 0 !important;
  top: auto;
  border-radius: 0px 0px 10px 0px !important;
}

.video-mute-btn img {
  height: 24px;
  width: 24px;
}

.video-wrapper .video-block:first-child {
  margin-top: -35px !important;
}

.video-wrapper .video-block:last-child {
  margin-top: -50px;
  margin-bottom: -30px;
}

.whiteboard__screen .netless-window-manager-wrapper {
  height: 120vh !important;
}

.netless-window-manager-sizer:before,
.netless-window-manager-sizer:after {
  display: none !important;
}

.netless-whiteboard {
  border: 1px solid #d7c9c9 !important;
  /* border-radius: 20px; */
}

@media (max-width: 1200px) {
  .screen {
    width: 60%;
  }

  .chat {
    width: 40%;
  }
}

@media (max-width: 800px) {
  .sentImages {
    width: 90%;
    height: auto;
  }

  .sentImages img {
    object-fit: contain;
  }

  .toolbar1 {
    padding: 0 12px;
  }

  .toolbar2 {
    padding: 15px 0;
  }
}

@media (max-width: 500px) {
  .chat {
    display: none;
  }

  .screen {
    width: 100%;
  }

  .whiteboard__top {
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .whiteboard__screen {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
  }

  .backIcon__logo {
    margin-left: 5px;
  }

  .backIcon__logo img,
  .upload__message img {
    width: 28px;
  }

  .whiteboard__logo {
    width: 80px !important;
    height: 24px !important;
    margin-left: 8px;
  }

  .emptyDiv {
    display: none;
  }

  .toolbar1 {
    padding: 0 12px;
    width: auto;
    height: 30px;
    top: 20px;
    left: 12px;
  }

  .toolbar2 {
    padding: 15px 0;
    width: 30px;
    top: 75px;
    left: 12px;
  }

  .toolbar2__subDiv1 {
    height: 224px;
    padding-bottom: 12px;
  }

  .toolbar2__subDiv2 {
    height: 128px;
    padding-top: 12px;
  }

  .toolbar2__subDiv1 img {
    width: 20px;
  }

  .toolbar2__subDiv2 img {
    width: 20px;
  }

  .toolbar1__subDiv1 img {
    height: 20px;
  }

  .toolbar1__subDiv2 {
    padding-left: 12px;
    margin-left: 12px;
  }

  .toolbar1__subDiv2 img {
    height: 20px;
  }

  .pagination div {
    width: 27px;
    height: 27px;
  }

  .zoom {
    width: 100px;
    height: 25px;
  }

  .zoom img {
    height: 15px;
    width: 15px;
  }

  .whiteboard__screen__top {
    height: 50px;
  }
}
